:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000; /* Forces black background */
  overflow: hidden;
}